body, html { /* set size of body to full page and remove margins */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.header, .div_footer{
  font-family: "sfsportsnight";
  background-color: #EB4989;
  font-size: 26px;
  width: 100%;
  font-weight: bold;
  padding: 5px;
}

.div_footer {
    padding: 3px;
    font-family: "verdana"
}

.div_footer a{
  font-size: 12px;
  color: black !important;
  text-decoration: none;
}

.div_footer a:hover{
  background-color:transparent !important;
}

.container {
  background-color: grey;
  width: 100%;
  height: 100%;
}

.div_mole_name, .div_mole_score {
  font-family: "sfsportsnight";
  position: absolute;
  width: 150px;
  text-align: center;
}

.div_color {
  font-family: "sfsportsnight";
  width: 100%;
  border-bottom: solid silver;
  border-width: thin;
  padding-left: 5px;
}

.div_footer > div {
  display: inline;
}

.last_udpate{
  display: block !important;
  font-size: 13px;
  color: black;
}

#div_white{
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 15%, #fefefe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(15%,#dbdbdb), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 15%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 15%,#fefefe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 15%,#fefefe 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 15%,#fefefe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

#div_orange{
  background: #ff7f04; /* Old browsers */
  background: -moz-linear-gradient(top, #ff7f04 0%, #ff7c00 21%, #ffb76b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7f04), color-stop(21%,#ff7c00), color-stop(100%,#ffb76b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff7f04 0%,#ff7c00 21%,#ffb76b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff7f04 0%,#ff7c00 21%,#ffb76b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff7f04 0%,#ff7c00 21%,#ffb76b 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ff7f04 0%,#ff7c00 21%,#ffb76b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#ffb76b',GradientType=0 ); /* IE6-9 */
}

#div_green{
    background: #b4e391; /* Old browsers */
  background: -moz-linear-gradient(top, #b4e391 0%, #61c419 0%, #61c419 0%, #61c419 15%, #b4e391 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(0%,#61c419), color-stop(0%,#61c419), color-stop(15%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 0%,#61c419 0%,#61c419 15%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b4e391 0%,#61c419 0%,#61c419 0%,#61c419 15%,#b4e391 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b4e391 0%,#61c419 0%,#61c419 0%,#61c419 15%,#b4e391 100%); /* IE10+ */
  background: linear-gradient(to bottom, #b4e391 0%,#61c419 0%,#61c419 0%,#61c419 15%,#b4e391 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */er: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbc0a', endColorstr='#9dd53a',GradientType=0 ); /* IE6-9 */
}

#div_blue{
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#div_black{
    background: rgb(252,234,187); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 15%, rgba(251,223,147,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(15%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(248,181,0,1) 15%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(248,181,0,1) 15%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(248,181,0,1) 15%,rgba(251,223,147,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(248,181,0,1) 15%,rgba(251,223,147,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}