<% if admin_signed_in? %>
  <h1>Editing mole</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @mole %> |
  <%= link_to 'Back', moles_path %>
<% else %>
    window.location.href="/moles"
<% end %>  


